body {
  padding-top: 70px;
}

h3 {
  text-align: center;
}

.text-center {
  text-align: center;
}

#loginForm {
  margin-right: 15px;
}

#loginForm > .form-group {
  margin: 15px;
}

#tagSelect > select {
  height: 150px;
}


#tagLabel {
  margin-top: -10px;
}

#tagSelect {
  margin-top: 20px;
  padding: 10px;
}

#post-content {
  white-space: pre-wrap;
}

.content {
  height: 62px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagLink:hover {
  text-decoration: none;
}

#tags {
  height: 21px;
}

#tags label {
  padding-left: 0px;
}

.tagRemove {
  color: grey;
  font-size: 11px;
  vertical-align: text-top;
}

.tagRemove:hover {
  color: black;
}

#blog-form {
  /*border: 1px solid black;*/
  box-shadow: 0 2px 8px black;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
}

textarea {
  resize: vertical;
}

.comment-section {
  /*background-color: white;*/
  /*height: 50px;*/
  /*border: 1px solid black;*/
}

img {
  width: 100px;
}

hr {
  border-top: 1px solid #bbb;
}

.popover {
  width: 400px;
}


.edit-button-margin {
  margin-left: 10px;
}

#newTagBtn {
  margin-top: 10px;
}
