body {
  padding-top: 70px;
}

#loginForm {
  margin-right: 15px;
}

#loginForm > .form-group {
  margin: 15px;
}

#tagSelect > div {
  margin: 15px;
}

.content {
  height: 62px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagLink:hover {
  text-decoration: none;
}
